.vk-container {
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.vk-header {
  background: rgb(218, 226, 232) none repeat scroll 0% 0%;
  padding: 4px 4px 4px 6px;
  margin-bottom: 10px;
}

.vk-header-text {
  padding: 2px 3px 1px;
  line-height: 100%;
  color: rgb(69, 104, 142);
  font-weight: bold;
}

.vk-comment,
.vk-comment-load {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid rgb(218, 225, 232);
  padding-bottom: 15px;
}

.vk-avatar img {
  float: left;
  margin-right: 10px;
  width: 48px;
  height: 48px;
}

.vk-comment-name {
  color: rgb(43, 88, 122);
  font-weight: bold;
  font-size: 12px;
}

.vk-comment-text {
  margin-left: 60px;
}

.vk-comment-date {
  margin-left: 60px;
  color: rgb(153, 153, 153);
}

div.blur {
  position: relative;
  background: #eee;
  padding: 10px;
  cursor: pointer;
}

div.blur img {
  display: block;
  margin: 0 auto;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  width: 100%;
  max-width: 500px;
}

.blur-p {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.mIn {
  width: 1400px;
}

@media screen and (max-width: 1400px) {
  div.mIn {
    width: 100% !important;
  }
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
  line-height: 110%;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  font-family: "Segoe UI", "Open Sans", Arial, sans-serif;
}

#__main__ {
  transition: all 0.3s ease-in-out 0s;
}

#header {
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
  width: 99%;
  color: rgb(255, 255, 255);
  background: rgb(0, 51, 102) none repeat scroll 0% 0%;
  z-index: 9;
  transition: all 0.3s ease-in-out 0s;
  max-width: 1340px;
  margin: 0px auto;
  padding: 3px 5px;
}

#header > div > div {
  margin: 10px 0px 0px;
  display: inline-block;
  vertical-align: bottom;
}

#header .logo {
  margin-left: 50px;
  margin-right: 30px;
}

@media screen and (max-width: 736px) {
  #header .logo {
    margin-left: 40px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1024px) {
  #header .main_menu {
    display: none;
  }
}

.top_nav {
  list-style: none;
  margin: 0;
  padding: 0 0 2px;
}

.top_nav__item {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.top_nav__item + .top_nav__item {
  margin-left: 10px;
}

.top_nav__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

#body {
  position: relative;
  min-height: 700px;
  background-color: rgb(238, 238, 238);
}

#body > #center {
  padding-left: 0px;
}

#body > #center p {
  margin-bottom: 20px;
}

#body #right {
  padding-right: 0px;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  min-height: 1px;
}

#body #right > div > div {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

#body #right ._company div.news {
  margin-bottom: 10px;
}

@media screen and (max-width: 736px) {
  #body ._company div.news {
    display: none;
  }
}

header.blockHeader {
  margin-top: 0;
  border: medium none;
  margin-bottom: 10px;
}

header.blockHeader .blockHeaderName {
  background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px;
  padding: 0px;
}

@media screen and (max-width: 736px) {
  header.blockHeader .blockHeaderName {
    padding: 0px 20px;
  }
}

header.blockHeader .blockHeaderName span {
  color: rgb(34, 34, 34);
  font-weight: 700;
}

#right .section > article {
  padding: 15px 5px 10px;
  margin: 0px auto;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

._yarstarosti article:nth-child(-n + 2)::after {
  content: '';
  display: block;
  width: 90%;
  height: 1px;
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#right .section > article div.img {
  border: medium none;
  margin-bottom: 10px;
}

#right .section > article .linkName {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 736px) {
  ._newsBN,
  #right {
    display: none;
  }
}

._content h1,
._content h2,
._content h3,
._content p {
  margin-bottom: 20px;
}

._content .news.current {
  margin-bottom: 0px;
}

._content .news.current .section article {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  margin-bottom: 0px;
  padding-bottom: 40px;
}

._content .news.current .section article div.gallery {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  min-height: 150px;
}

._content .news.current .section article div.gallery .caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 30px 60px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 0px !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)) repeat scroll 0% 0%;
}

@media screen and (max-width: 1024px) {
  ._content .news.current .section article div.gallery .caption {
    position: relative;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    font-size: 18px;
  }
}

._content .news.current .section article .categories {
  padding: 0px 20px 0px 60px;
}

@media screen and (max-width: 736px) {
  ._content .news.current .section article .categories {
    padding: 0px 20px;
  }
}

._content .news.current .section article .categories a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #003366;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-right: 10px;
}

._content .news.current .section article {
  padding-bottom: 0px !important;
}

._content .news_content {
  float: left;
  width: 75%;
  padding: 0px 20px 0px 60px !important;
}

@media screen and (max-width: 736px) {
  ._content .news_content {
    padding: 0px 20px !important;
    width: 100%;
  }
}

._content .news_content .section article .beforeContent {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

._content .news_content .section article .beforeContent .categories {
  padding: 0px;
  margin: 0px;
  float: left;
}

._content ._newsBN {
  float: right;
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid rgb(222, 222, 222);
}

@media screen and (max-width: 736px) {
  ._content ._newsBN {
    width: 100%;
    padding: 0px 20px;
    margin-top: 15px;
  }
}

._content {
  position: relative;
  float: left;
  width: 100%;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 736px) {
  ._content {
    padding-top: 20px;
  }
}

._content > * {
  padding: 0px 40px;
}

._content > .news {
  padding: 0px;
}

._content > .news > h1.listHeader {
  padding-left: 60px;
  padding-right: 60px;
  color: red;
  font-weight: bold;
}

@media screen and (max-width: 736px) {
  ._content > .news > h1.listHeader {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.6em;
  }
}


* {
  padding: 0px;
  margin: 0px;
  outline: 0px none;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0) none no-repeat fixed center top;
  font-family: "Open Sans", Arial, serif, Arial, serif;
}

div#__main__ {
  position: relative;
  width: 100%;
}

.mOut {
  width: 100%;
  position: relative;
}

.mIn {
  width: 1200px;
  margin: 0px auto;
  float: none;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  div.mIn {
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  div.mIn {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

a,
img {
  border: medium none;
  outline: 0px none;
}

[class^="col-"] {
  position: relative;
  display: block;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.col-20 {
  width: 20%;
}

.col-80 {
  width: 80%;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  [class^="col-"] {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

header.blockHeader {
  float: left;
  width: 100%;
  border-bottom: 2px solid rgb(22, 22, 22);
  margin-bottom: 0;
}

header.blockHeader .blockHeaderName {
  display: inline-block;
  padding: 5px 20px;
  margin: 0px !important;
  font-size: 1.17em;
  background-color: rgb(22, 22, 22);
}

header.blockHeader .blockHeaderName span,
header.blockHeader .blockHeaderName a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
}

header.blockHeader .blockHeaderName span:hover,
header.blockHeader .blockHeaderName a:hover {
  text-decoration: underline;
}

.news {
  float: left;
  width: 100%;
}

.news .listHeader {
  margin-bottom: 14px;
}

.news .section {
  display: block;
  float: left;
  width: 100%;
}

.news .section article {
  position: relative;
  float: left;
  display: block;
  list-style: outside none none;
  width: 100%;
  margin-bottom: 20px;
}

.news .section article img {
  width: 100%;
  height: auto;
}

.news .section article div.img {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 1px;
  cursor: pointer;
}

.news .section article .linkName {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.news .section article .linkName span,
.news .section article .linkName a {
  display: inline-block;
  color: rgb(22, 22, 22);
  text-decoration: none;
  cursor: pointer;
}

.news .section article .caption {
  color: grey;
  font-size: 0.8em;
}

.news .section article:last-child {
  margin-bottom: 0px !important;
  border-bottom: 0px none !important;
}

.news .section article p {
  margin-bottom: 0px;
}

.news .section.leftThumb article {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.news .section.leftThumb article div.img {
  display: block;
  position: relative;
  float: left;
  width: 30%;
}

@media screen and (max-width: 737px) {
  .news .section.leftThumb article div.img {
    width: 100%;
  }
}

.news .section.leftThumb article .content {
  width: 65%;
  float: right;
}

@media screen and (max-width: 737px) {
  .news .section.leftThumb article .content {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .news .section article {
    width: 100% !important;
  }
}

.greenlink {
  background: green;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0px 0 20px;
  border-radius: 5px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  font-size: 26px;
  line-height: 1.4em;
  box-shadow: 0px 30px 30px -30px #00000070;
}

a.n-underline {
  text-decoration: none;
  font-size: 21px;
}

.gradient {
  background-color: #7ac44d;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2YzZWYxNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDA5ODg1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2YzZWYxNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDA5ODg1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==), -webkit-gradient(radial, left bottom, 0, left bottom, 723, color-stop(0, rgb(243, 239, 21)), color-stop(1, rgb(0, 152, 133)));
  /* Android 2.3 */
  background-image: -webkit-repeating-radial-gradient(left bottom, ellipse farthest-corner, rgb(243, 239, 21) 0%, rgb(0, 152, 133) 100%);
  /* IE10+ */
  background-image: repeating-radial-gradient(ellipse farthest-corner at left bottom, rgb(243, 239, 21) 0%, rgb(0, 152, 133) 100%);
  background-image: -ms-repeating-radial-gradient(left bottom, ellipse farthest-corner, rgb(243, 239, 21) 0%, rgb(0, 152, 133) 100%);
}

.gradient:hover {
  background: #27f713;
}


/* IE8- CSS hack */

@media screen {
  .gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff3ef15", endColorstr="#ff009885", GradientType=0);
  }
}

.eAuthContainer > :hover {
  opacity: 1;
}

.theiaStickySidebar {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 1px;
  position: static;
  transform: none;
}

.theiaStickySidebar::after {
  content: "";
  display: table;
  clear: both;
}

.popup-blackout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
}

.popup {
  display: block;
  padding: 25px 40px;
  width: 90%;
  max-width: 780px;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(60, 114, 181, 1);
  background: -moz-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(60, 114, 181, 1)), color-stop(100%, rgba(123, 159, 204, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
  background: linear-gradient(135deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c72b5', endColorstr='#7b9fcc', GradientType=1);
  border: 5px solid #dddddd;
  color: #fff;
}

.close-blackout {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../images/close-1.png');
  background-size: 100%;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.popup-title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
}

.popup-inner {
  font-size: 0;
  padding-top: 10px;
}

.popup-pic,
.popup-text {
  display: inline-block;
  vertical-align: middle;
}

.popup-pic {
  width: 200px;
}

.popup-text {
  width: calc(100% - 200px);
  font-size: 22px;
  padding-left: 35px;
  line-height: 1.5;
}

.popup-footer {
  padding-top: 25px;
}

.popup-more-btn {
  border: 1px solid rgba(73, 155, 234, 1);
  background: rgba(222, 69, 92, 1);
  background: -moz-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(222, 69, 92, 1)), color-stop(13%, rgba(222, 69, 92, 1)), color-stop(76%, rgba(192, 31, 55, 1)), color-stop(100%, rgba(192, 31, 55, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  background: linear-gradient(135deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de455c', endColorstr='#c01f37', GradientType=1);
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 60px;
  vertical-align: top;
  display: block;
  text-indent: 0;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  width: 402px;
  height: 64px;
  opacity: 1;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  border-radius: 10px;
  transition: 0.6s ease;
  z-index: 12;
}

.popup-more-btn:hover {
  transform: scale(1.3);
}

._newsBN__banner {
  cursor: pointer;
}

._newsBN__banner img {
  display: block;
  width: 100%;
}

.banner_text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
  display: block;
  
}

.block-scheme {
  margin: 0 auto 20px;
  position: relative;
}

.block-scheme__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.block-scheme-inner {
  position: relative;
  font-size: 0;
  padding-left: 30px;
}

.scheme-pic,
.block-scheme__legend {
  display: inline-block;
  vertical-align: middle;
}

.block-scheme__label {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: rotate(-90deg) translate(0, -50%);
  font-size: 16px;
  font-weight: 700;
}

.scheme-pic {
  width: calc(100% - 150px);
}

.block-scheme__legend {
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding-left: 30px;
}

.block-scheme__legend-item {
  display: block;
  position: relative;
}

.block-scheme__legend-item:nth-child(n+2) {
  margin-top: 12px;
}

.block-scheme__legend-item::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 15px;
  height: 15px;
}

.block-scheme__legend-item:nth-child(1)::before {
  background-color: #f8fa01;
}

.block-scheme__legend-item:nth-child(2)::before {
  background-color: #109619;
}

.block-scheme__legend-item:nth-child(3)::before {
  background-color: #dc3812;
}

.block-scheme__legend-item:nth-child(4)::before {
  background-color: #3266cc;
}

.block-scheme__legend-item:nth-child(5)::before {
  background-color: #ff9700;
}

.block-scheme__legend-item:nth-child(6)::before {
  background-color: #0efbd1;
}

.article-picture-box {
  margin-bottom: 25px;
}

.before-after img {
  width: 100%;
}

.before-after figcaption {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.before-after__periods {
  font-size: 0;
  text-align: center;
}

.before-after__periods span {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  font-size: 16px;
  font-weight: 700;
}

.colored-link {
  color: #109619;
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.comment-rev-pic {
  display: block;
  max-width: 100%;
  margin: 0 auto 20px;
  max-height: 60vh;
  object-fit: contain;
}

@media all and (max-width: 1023px) {
  .scheme-pic,
  .block-scheme__legend {
    width: 100%;
  }
  
  .block-scheme__label {
    top: 23%;
    left: -40px;
  }
  
  .block-scheme__legend {
    padding-top: 15px;
  }
}

.img-wrap {
  margin-bottom: 20px;
}

.img-wrap img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.article-title {
  font-size: 24px;
}

.red {
  color: red;
}

#body > #center .vk-comment-text p,
.comment-rev-pic {
  margin-bottom: 5px;
}

.greenlink.gradient {
  display: inline-block;
  text-align: center;
  width: auto;
}

.center {
  text-align: center;
}

._company .news:nth-of-type(n+2)::before {
  content: '';
  display: block;
  width: 90%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #444444;
}

._company .news:last-child::before {
  display: none;
}

._articles,
._company,
._yarstarosti,
._company .news:last-child {
  border-top: 20px solid #eeeeee;
}

.doc-face-pic {
  max-width: 100%;
}

.nds {
  max-width: 260px;
  margin: 0 auto;
}